
/* Navigation.css */
nav ul {
  list-style: none;
  padding: 0;
  background-color: transparent;
}

nav a:hover {
  background-color:royalblue;
  width:50px;
}
  
  li {
    margin: 120px 0;
    text-decoration: none;
  }
  
