/* Update the styles for the specific inputs */

  
  /* The rest of your styles remain unchanged */
  .otp-input-container {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    margin-left: 50px;
  }
  
  .otp-field {
    width: 40px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    margin: 0 5px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-top: 90px; 
  }
  
  .reset-button {
    background-color: #007bff;
    color: white;
 margin-left: 660px;
 bottom: 50px;
 width:60px;
 height:30px;

  }

  .container {
    margin-left: 120px;
  
  }

  .my-style{
    display: inline;
  }
  
  .submit-button {
    background-color: #007bff;
    color: white;
   margin-left: 10px;
   width:60px;
   height:30px;
  }
  

.my-style {
    border-collapse: collapse;
    width: 100%;
}

.my-style th, .my-style td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.my-style th {
    background-color: #f2f2f2;
}



/* table */



/* Table Styling */
.my-table {
  border-collapse: collapse;
  width: 100%;

}

.my-table td {
   border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
 
}


.my-table th {
  background-color: #f2f2f2;
}

.my-table tbody tr:nth-child(even) {
  color: white;
}

.my-table tbody tr:hover {
  background-color: royalblue;
}
